<div class="heading">
    <h1>About Us</h1>
    <div class="container">
        <div class="image">
            <img src="../../assets/restaurant.jpg" alt="">
        </div>
        <p>We are one of the few pizzerias that offer quality dishes prepared with professionalism and meticulousness! We use only fresh and high quality products.
             Italian sausages and flour, olive oil, arugula, parmesan, pine nuts, basil pesto are just some of the things we use to achieve this quality of the food offered!</p>
    </div>
</div>
