<div class="heading">
    <h1 class="title">Contacts</h1>
    <div class="container">
        <div class="image">
            <img src="../../assets/pizza-contact.jpg" alt="">
        </div>
        <div class="text">
            <h1 class="work-time">COME AND GRAB A PIZZA!</h1>
            <h2>WORK TIME</h2>
            <ul>
                <li>Monday 10:00 - 22:00</li>
                <li>Tuesday 10:00 - 22:00</li>
                <li>Wednesday 10:00 - 22:00</li>
                <li>Thursday 10:00 - 22:00</li>
                <li>Friday 10:00 - 22:00</li>
                <li>Saturday 10:00 - 22:00</li>
                <li>Sunday 10:00 - 22:00</li>
            </ul>
            <h2>ADDRESS</h2>
            <p>"Nikola Kozhuharov" 2, Stara Zagora, 6000</p>
            <h2>PHONE: </h2>
            <p>0877 72 80 60</p>
            <h2>EMAIL: </h2>
            <p>stefank5248&#64;gmail.com</p>
        </div>
    </div>
</div>