<div class="top-container">
    <h1 class="name">The Wooden House</h1>
    <div class="container">
        <div class="imgContainer">
            <div class="slid_div" id="slider1">
                <img src="../../assets/images1.jpg" alt="1" class="img" id="img1">
            </div>
            <div class="slid_div" id="slider2">
                <img src="../../assets/images2.jpg" alt="2" class="img" id="img2">
            </div>
            <div class="slid_div" id="slider3">
                <img src="../../assets/images3.jpg" alt="3" class="img" id="img3">
            </div>
            <div class="slid_div" id="slider4">
                <img src="../../assets/images5.jpg" alt="4" class="img" id="img4">
            </div>
            <div class="slid_div" id="slider5">
                <img src="../../assets/images6.jpg" alt="5" class="img" id="img5">
                <a href="/menu/#slider5" class="button" id="button5"></a>
            </div>
            <div class="slid_div" id="slider6">
                <img src="../../assets/images7.jpg" alt="6" class="img" id="img6">
            </div>
            <div class="slid_div" id="slider7">
                <img src="../../assets/images8.jpg" alt="7" class="img" id="img7">
            </div>
        </div>
    </div>
    <section class="menu">
        <div class="pizza">
            <h1>PIZZA</h1>
            <a routerLink="/menu-pizza"><img class="img-menu" src="../../assets/pizza-menu.jpg" alt=""></a>
        </div>
        <div class="drinks">
            <h1>DRINKS</h1>
            <a routerLink="/menu-drinks"><img class="img-menu" src="../../assets/drinks-menu.jpg" alt=""></a>
        </div>
        <div class="sauce">
            <h1>SAUCE</h1>
            <a routerLink="/menu-sauce"><img class="img-menu" src="../../assets/sauce-menu.jpg" alt=""></a>
        </div>
    </section>
</div>