<div class="loader">
    <div class='pizza'>
        <div class='slice'></div>
        <div class='slice'></div>
        <div class='slice'></div>
        <div class='slice'></div>
        <div class='slice'></div>
        <div class='slice'></div>
        <div class='slice'></div>
        <div class='slice'></div>
        <div class='slice'></div>
        <div class='slice'></div>
        <div class='slice'></div>
        <div class='slice'></div>
        <div class='slice'></div>
    </div>
</div>